<!DOCTYPE html>
<html>
<head>
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <style>
    body{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    @media only screen and (max-width: 600px) {
         #remoteVideo{
             width:100%;
         }
         #localVideo{
           width: 30%;
         }
     }
 </style>   
</head>
<body>
  <div class="copy">Live - Agendamento de equipamentos</div>
  <video id="remoteVideo" autoplay width="50%"></video>
  <video id="localVideo" autoplay muted width="10%"></video>
  <script src="/javascripts/scaledrone.js"></script>
</body>
</html>