<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
    <script src="/javascripts/scaledrone_recoder.js"></script>
    <title>Recorder - Agendamento de equipamentos</title>
    <style>
        body{
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
       @media only screen and (max-width: 600px) {
            #localVideo{
                width:100%;
            }
            #remoteVideo{
                width: 30%;
            }
        }
    </style>

    </head>
    <body>
        <div>Recorder - Agendamento de Equipamentos: <a href="" target="_blank">Link de chamada</a></div>
        <br>
        <script>
            document.querySelector('a').href = "/live/#"+roomHash;
        </script>
        <video id="localVideo" autoplay muted width="50%" height="50%"></video>
        <video id="remoteVideo" autoplay width="10%" muted></video>
    </body>
</html>